@import "tailwindcss";

* {
  box-sizing: border-box;
}

.hide-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.hide-scroll::-webkit-scrollbar {
  display: none;        
}

/* Thin Scrollbar */
.custom-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #6b7280 transparent;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #545454; /* gray-500 */
  border-radius: 9999px;
}
